@media screen and (min-width: 700px) {
    nav {
        width: 96.4%;
        gap: 20rem;
    }

    /* li.current-menu-item a {
        background-color: none;
    } */

    nav #line1,
    #line2,
    #line3 {
        display: block;
    }

    ul.menuLinks li a {
        display: block;
        color: white;
        padding: .75rem 2vw;
        text-decoration: none;
    }

    .menuLinks li #mLinks1:hover {
        /* background-color: #E5E9EC; */
        /* color: #462230; */
        text-decoration: underline;
        color: black;
        font-weight: 900;
        display: flex;
    }

    .menuLinks li #mLinks2:hover {
        /* background-color: #E5E9EC; */
        /* color: #462230; */
        text-decoration: underline;
        color: black;
        font-weight: 900;
        display: flex;
    }

    .menuLinks li #mLinks3:hover {
        /* background-color: #E5E9EC; */
        /* color: #462230; */
        text-decoration: underline;
        color: black;
        font-weight: 900;
        display: flex;
    }

    .menuLinks li #mLinks4:hover {
        /* background-color: #E5E9EC; */
        /* color: #462230; */
        text-decoration: underline;
        color: black;
        font-weight: 900;
        display: flex;
    }

    #menuButton {
        display: none;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    .menuLinks {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .menuLinks li {
        display: block;
        flex: 1 1 100%;
        text-align: center;
    }

    /* .hero span {
        font-size: 2rem;
    }

    .hero img {
        width: 100%;
        height: auto;
    } */

    /* .wddTitle {
        font-size: 1.75em;
    } */

    /* .card-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-grid section:nth-child(1) {
        grid-column: span 2;
    } */

    div.list section {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    }

    /* header, nav, main, footer {
        max-width: 64em;
        margin:auto;
    } */

    main .joinTitle {
        display: flex;
        justify-content: center;
    }

    div .join {
        dis
    }

    section .levelsInfo {
        grid-column: 1/2;
    }

    section .form {
        grid-column: 2/4;
    }

    section.levelsInfo {
        height: 470px;
    }

    footer .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #logoFooter {
        max-width: 125px;
        justify-self: center;
        align-self: center;
    }

    footer {
        width: 100%;
    }
}