
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
}

header {
    background-color: #5F7470;
    display: grid;
    grid-template-columns: auto 1fr;
}

header h1 {
    text-align: center;
}
