
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
}

header {
    background-color: #5F7470;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto 1fr;
}

header h1 {
    text-align: center;
    margin: auto 0;
}

#profilePic {
    max-width: 125px;
    height: auto;
    grid-column: 1/2;
    padding: 10px;
    margin-left: 3rem;
}

main {
    color: #889696;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

section {
    border: 2px solid grey;
    border-ra
}
