/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
	--back: hsla(150, 50%, 30%, 1);
    --back2: hsla(150, 50%, 30%, .5);
    --foredark: hsla(0,0%,10%,1);
    --forelight: hsla(0,0%,100%,1);
	--border: hsla(0,0%,20%,.8);
	--borderlight: hsla(0,0%,33%,.3);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #D58936;
    border-radius: 10px;
    padding: .5rem 2;
}

form legend {
    color: black;
    font-weight: 400;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form label.top select {
    /* -webkit-appearance: none; */
    display: block;
    font-size: 1rem;
    border: solid 1px #c3c3c4;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    font-weight: 400;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(164, 180, 231, 0.1);
}

form label.pageRating, div.rangeValue {
    color: black;
    font-weight: 400;
    font-size: 1rem;

form input.submitButton {
    border: none;
    background-color: #9c2c13;
    color: white;
    font-weight: 400;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
border-left: green solid 6px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }